/* Variable */

/* Fonts */
@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Medium.woff2') format('woff2'),
        url('../fonts/signika/Signika-Medium.woff') format('woff'),
        url('../fonts/signika/Signika-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Light.woff2') format('woff2'),
        url('../fonts/signika/Signika-Light.woff') format('woff'),
        url('../fonts/signika/Signika-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Bold.woff2') format('woff2'),
        url('../fonts/signika/Signika-Bold.woff') format('woff'),
        url('../fonts/signika/Signika-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-Regular.woff2') format('woff2'),
        url('../fonts/signika/Signika-Regular.woff') format('woff'),
        url('../fonts/signika/Signika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika';
    src: url('../fonts/signika/Signika-SemiBold.woff2') format('woff2'),
        url('../fonts/signika/Signika-SemiBold.woff') format('woff'),
        url('../fonts/signika/Signika-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Component */
@import "./component/base.scss";